.topic-list__item {
  line-height: 24px;
  margin-left: 24px;
  font-weight: 500;
  color: var(--secondary-color);

  &:hover {
    text-decoration: overline;
    color: var(--seventiary-color);
  }
}

.topic-list__item span {
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;

}