.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px var(--seventiary-color);
  -moz-box-shadow: 0 4px 6px -6px var(--seventiary-color);
  box-shadow: 0 4px 6px -6px var(--seventiary-color);
  height: 72px;
}

.top-nav-bar__logo {
  text-decoration: overline;
  font-weight: 500;
  font-size: 24px;
  color: var(--sixtiary-color);
  text-underline-position: auto;
  margin-left: 24px;
}

.top-nav-bar__links {
  flex-grow: 0.1;
  display: flex;
  justify-content: space-between;
}